@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "reset.css";

 /* Layout For CodePen */

 @import url(https://fonts.googleapis.com/css?family=Fira+Sans:700);
 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Fira Sans', sans-serif;
   text-align:center;
   color: #fff;
 }


a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.glanlink{
color: #3c64b1;
}

body {
margin: 0;
padding: 0;
background-color: #f3f6fa;
}
.main_bar {
display: flex;
text-decoration: none;
}
.main_bar .logo {
position: absolute;
left: 1px;
top: 0px;
width: auto;
height: auto;
max-height: 92px;
left: 10px;
background: url(logo.png);
border-radius: 20px;
}
.main_bar .selection {
position: absolute;
left: 42.6%;
top: 38px;
color: #3c64b1;
font-family: "Roboto", sans-serif;
font-style: normal;
text-decoration: none;
}

.navigation_link {
text-decoration: none;
color: #3c64b1;
}

#Login {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
margin-right: -4px;
color: #3c64b1;
background-color: white;
font-family: "Roboto", sans-serif;
font-style: normal;
width: 68px;
}
#Start {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: -3px;
color: white;
background-color: #484bff;
font-family: "Roboto", sans-serif;
font-style: normal;
}
#Login:hover {
transform: scale(1.1);
}
#Start:hover {
transform: scale(1.1);
}
#barbutton {
  position: absolute;
  right: 20px;
  top: 30px;
}
#barbutton button {
  border: 1.5px solid #484bff;
  padding: 5px;
}


 
 h1 {
   color: #222;
   text-align:center;
 }
 
  /* The Grid */
 
 .grid {
   width: 100%;
   display: table;
   border-collapse:separate;
   border-spacing:15px;
   padding-top:100px
 }
 
 .grid-row {
   width: 100%;
   display: table;
   table-layout: fixed;
   margin:0 0 -5px 0;
 }
 
 .item {
   display: table-cell;
   background: #e84485;
   padding: 2%;
 }
 
 @media screen and (max-width: 480px) {
 
  .grid-row {
     display: block;
     width: 100%;
     margin:0;
  }
   
  .item {
   display: block;
   width: 100%;
   margin: 0 0 5px 0;
  }  
  


 }
 
 
 