@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "reset.css";
 /* Layout For CodePen */

 @import url(https://fonts.googleapis.com/css?family=Fira+Sans:700);

 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Fira Sans', sans-serif;
   text-align:center;
   color: #fff;
 }
 
 h1 {
   color: #222;
   text-align:center;
 }
 
  /* The Grid */
 
 .grid {
   width: 100%;
   display: table;
   border-collapse:separate;
   border-spacing:15px;
 }
 
 .grid-row {
   width: 100%;
   display: table;
   table-layout: fixed;
   margin:0 0 -15px 0;
 }
 
 .item {
   display: table-cell;
   background: #e84485;
   padding: 2%;
 }
 
 @media screen and (max-width: 480px) {
 
  .grid-row {
     display: block;
     width: 100%;
     margin:0;
  }
   
  .item {
   display: block;
   width: 100%;
   margin: 0 0 5px 0;
  }  
  
 }
 
 
 