@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "reset.css";
@import "header.css";
a {
  text-decoration: none;
  color: #3c64b1;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f3f6fa;
}
.main_bar {
  display: flex;
}
.main_bar .logo {
  position: absolute;
  left: 1px;
  top: 0px;
  width: auto;
  height: auto;
  max-height: 92px;
  left: 10px;
  background: url(logo.png);
  border-radius: 20px;
}
.main_bar .selection {
  position: absolute;
  left: 42.6%;
  top: 38px;
  color: #373f41;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
}
.navigation_link {
  text-decoration: none;
}
#Login {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
  color: #3c64b1;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 68px;
}
#Start {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -3px;
  color: white;
  background-color: #484bff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
#Login:hover {
  transform: scale(1.1);
}
#Start:hover {
  transform: scale(1.1);
}
#barbutton {
  position: absolute;
  right: 20px;
  top: 30px;
}
#barbutton button {
  border: 1.5px solid #484bff;
  padding: 5px;
}
#searchbutton {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#searchbutton button {
  border: 1px solid #484bff;
  padding: 5px;
}
#Lucky {
  color: #3c64b1;
  background-color: white;
  font-size: 15px;
  width: 139.5px;
}
#Recommendations {
  color: white;
  background-color: #484bff;
  font-size: 15px;
}
.splitline {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 92px;
  border-top: 3px solid #484bff;
}
.search-box {
  padding: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  background-color: #fff;
  border: 1px solid #484bff;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
}
.search-box:hover {
  box-shadow: 0px 0px 0.5px 1px #484bff;
  width: 500px;
}
.search-btn {
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484bff;
}
.search-box:hover > .search-btn {
  background-color: #fff;
}
.search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.search-box:hover > .search-txt {
  width: 500px;
  padding: 0 6px;
}
.issue {
  position: absolute;
  top: 54.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: auto;
}
.colorset {
  color: #484bff;
}

.topic {
  float: left;
  position: absolute;
  top: 70%;
  left: 56%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
}

.topic_child{
  width: 200px;
  height: 100px;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  line-height: 150%;
}

.topic_child_topic{
  text-align: left;
  font-size: 24px;
}